DATABASE_URL='postgres://user:password@localhost:5432/database_name'

RESEND_API_KEY='secret_resend_api_key'

ENCRYPTION_KEY='32 bytes long base64url encoded string'
PEPPER='64 bytes long base64url encoded string'

DISCORD_CLIENT_ID='secret_discord_client_id'
DISCORD_CLIENT_SECRET='secret_discord_client_secret'

GITHUB_CLIENT_ID='secret_github_client_id'
GITHUB_CLIENT_SECRET='secret_github_client_secret'

GOOGLE_CLIENT_ID='secret_google_client_id'
GOOGLE_CLIENT_SECRET='secret_google_client_secret'