RESEND_API_KEY='secret_resend_api_key'

# 32 bytes long base64url encoded string
ENCRYPTION_KEY='ZyOp3U4Fb4sD-fdHHNUk2hP1ZYEiltO_D1ZsXGOtkMM'
# 64 bytes long base64url encoded string
PEPPER='o16yLut8xSkoe60sS6ulzc5tyqWL526S7VRk4CY8CLgRHFWPUdk671ZA0yZdyn1WiRAhnIXSPQbdLkhj-pXL2w'

DISCORD_CLIENT_ID='secret_discord_client_id'
DISCORD_CLIENT_SECRET='secret_discord_client_secret'

GITHUB_CLIENT_ID='secret_github_client_id'
GITHUB_CLIENT_SECRET='secret_github_client_secret'

GOOGLE_CLIENT_ID='secret_google_client_id'
GOOGLE_CLIENT_SECRET='secret_google_client_secret'